// HEADER
.header {
  background: #fff;
  box-shadow: 0 2px 8px #e8e8e8;
  height: 90px;
  position: relative;
  z-index: 100;
  &__container {
    align-items: center;
    display: flex;
    height: 100%;
  }
  &__logo {
    align-items: center;
    color: #3c3c3c;
    display: flex;
    font-size: 15px;
    height: 35px;
    justify-content: center;
    letter-spacing: 0px;
    margin-right: auto;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    width: 100px;
    &:hover {
      color: #cacaca;
      letter-spacing: 2px;
    }
    &::after {
      border-right: 1px inset #3c3c3c;
      border-top: 1px inset #3c3c3c;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 10px;
    }
    &::before {
      border-left: 1px inset #3c3c3c;
      border-top: 1px inset #3c3c3c;
      content: "";
      display: block;
      height: 10px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 10px;
    }
    span {
      &::after {
        border-right: 1px inset #3c3c3c;
        border-bottom: 1px inset #3c3c3c;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        right: 0px;
        width: 10px;
      }
      &::before {
        border-left: 1px inset #3c3c3c;
        border-bottom: 1px inset #3c3c3c;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 0px;
        position: absolute;
        width: 10px;
      }
    }
  }
  &__menu {
    height: 100%;
    ul {
      display: flex;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        align-items: center;
        background-color: transparent;
        display: flex;
        color: #3c3c3c;
        font-family: 'Playfair Display', serif;
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        transition: background-color 0.3s;
        &:hover {
          background-color: #f2f2f2;
        }
      }
      li.current_page_item a {
        background-color: #f2f2f2;
      }
    }
    &--mobile {
      background-color: #fff;
      display: none;
      height: auto;
      left: 0;
      position: absolute;
      top: 90px;
      width: 100%;
      ul {
        flex-direction: column;
      }
    }
  }
  &__menu_rs {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #3c3c3c;
        display: flex;
        font-size: 0;
        height: 30px;
        justify-content: center;
        margin-left: 10px;
        transition: 0.3s;
        width: 30px;
        &::before {
          display: inline-block;
          font-family: "Font Awesome 5 Brands";
          font-size: 15px;
          font-style: normal;
          font-variant: normal;
          font-weight: 400;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
        &:hover {
          border-color: #3c3c3c;
        }
      }
      .facebook a::before {
        content: '\f39e';
      }
      .instagram a::before {
        content: "\f16d";
      }
      .pinterest a::before {
        content: '\f231';
      }
    }
  }
  &__trigger {
    align-items: center;
    height: 36px;
    margin-left: 10px;
    width: 36px;
    span {
      background-color: #d3d3d3;
      border-radius: 4px;
      height: 4px;
      position: relative;
      transition: 0.3s;
      width: 100%;
      &::after,
      &::before {
        background-color: #d3d3d3;
        border-radius: 4px;
        content: '';
        height: 4px;
        position: absolute;
        transition: 0.3s;
        width: 100%;
      }
      &::after {
        top: -10px;
      }
      &::before {
        bottom: -10px;
      }
    }
    &--active {
      span {
        transform: rotate(-45deg);
        &::after,
        &::before {
          bottom: initial;
          top: initial;
          transform: rotate(90deg);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    &__logo {
      font-size: 24px;
      height: 45px;
      width: 170px;
    }
  }
  &__menu_rs {
    ul {
      a {
        height: 36px;
        width: 36px;
        &::before {
          font-size: 18px;
        }
      }
    }
  }
}