@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800|Playfair+Display');
body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
}
a,
a:hover,
a:active {
  text-decoration: none;
}
.button {
  background-color: #e2574c;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
  transition: 0.3s;
  &:hover {
    background-color: #cc4a40;
    color: #fff;
  }
}
p {
  color: #797979;
  font-family: 'Playfair Display', serif;
  font-size: 12px;
  line-height: 1.7em;
}
form {
  p {
    font-family: 'Raleway', sans-serif;
  }
}

// HEADER
.header {
  background: #fff;
  box-shadow: 0 2px 8px #e8e8e8;
  height: 90px;
  position: relative;
  z-index: 100;
  &__container {
    align-items: center;
    display: flex;
    height: 100%;
  }
  &__logo {
    align-items: center;
    color: #3c3c3c;
    display: flex;
    font-size: 15px;
    height: 35px;
    justify-content: center;
    letter-spacing: 0px;
    margin-right: auto;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    width: 100px;
    &:hover {
      color: #cacaca;
      letter-spacing: 2px;
    }
    &::after {
      border-right: 1px inset #3c3c3c;
      border-top: 1px inset #3c3c3c;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 10px;
    }
    &::before {
      border-left: 1px inset #3c3c3c;
      border-top: 1px inset #3c3c3c;
      content: "";
      display: block;
      height: 10px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 10px;
    }
    span {
      &::after {
        border-right: 1px inset #3c3c3c;
        border-bottom: 1px inset #3c3c3c;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        right: 0px;
        width: 10px;
      }
      &::before {
        border-left: 1px inset #3c3c3c;
        border-bottom: 1px inset #3c3c3c;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 0px;
        position: absolute;
        width: 10px;
      }
    }
  }
  &__menu {
    height: 100%;
    ul {
      display: flex;
      height: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        align-items: center;
        background-color: transparent;
        display: flex;
        color: #3c3c3c;
        font-family: 'Playfair Display', serif;
        height: 100%;
        padding-left: 25px;
        padding-right: 25px;
        transition: background-color 0.3s;
        &:hover {
          background-color: #f2f2f2;
        }
      }
      li.current_page_item a {
        background-color: #f2f2f2;
      }
    }
    &--mobile {
      background-color: #fff;
      display: none;
      height: auto;
      left: 0;
      position: absolute;
      top: 90px;
      width: 100%;
      ul {
        flex-direction: column;
      }
    }
  }
  &__menu_rs {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: #3c3c3c;
        display: flex;
        font-size: 0;
        height: 30px;
        justify-content: center;
        margin-left: 10px;
        transition: 0.3s;
        width: 30px;
        &::before {
          display: inline-block;
          font-family: "Font Awesome 5 Brands";
          font-size: 15px;
          font-style: normal;
          font-variant: normal;
          font-weight: 400;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
        &:hover {
          border-color: #3c3c3c;
        }
      }
      .facebook a::before {
        content: '\f39e';
      }
      .instagram a::before {
        content: "\f16d";
      }
      .pinterest a::before {
        content: '\f231';
      }
    }
  }
  &__trigger {
    align-items: center;
    height: 36px;
    margin-left: 10px;
    width: 36px;
    span {
      background-color: #d3d3d3;
      border-radius: 4px;
      height: 4px;
      position: relative;
      transition: 0.3s;
      width: 100%;
      &::after,
      &::before {
        background-color: #d3d3d3;
        border-radius: 4px;
        content: '';
        height: 4px;
        position: absolute;
        transition: 0.3s;
        width: 100%;
      }
      &::after {
        top: -10px;
      }
      &::before {
        bottom: -10px;
      }
    }
    &--active {
      span {
        transform: rotate(-45deg);
        &::after,
        &::before {
          bottom: initial;
          top: initial;
          transform: rotate(90deg);
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .header {
    &__logo {
      font-size: 24px;
      height: 45px;
      width: 170px;
    }
  }
  &__menu_rs {
    ul {
      a {
        height: 36px;
        width: 36px;
        &::before {
          font-size: 18px;
        }
      }
    }
  }
}

// BANNIERE PAGE D'ACCUEIL
.banner {
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: calc(100vh - 90px);
  justify-content: center;
  overflow: hidden;
  position: relative;
  &__title {
    color: #fff;
    font-weight: 700;
    padding: 0 15px;
    position: relative;
    text-align: center;
    text-shadow: 0 0 5px #525252;
    text-transform: uppercase;
  }
}

// PAGE D'ACCUEIL
.home {
  &__article {
    padding-bottom: 80px;
    padding-top: 80px;
    &__title {
      align-self: flex-start;
      color: #3c3c3c;
      margin: 0 0 50px;
      text-align: right;
      &::after {
        background: #3c3c3c;
        bottom: -20px;
        content: "";
        height: 2px;
        position: absolute;
        right: 15px;
        width: 30px;
      }
    }
    p {
      color: #797979;
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      line-height: 1.7em;
    }
  }
  &__proprietes {
    background-color: #f6f6f6;
    padding-bottom: 100px;
    padding-top: 100px;
    &_title {
      color: #3c3c3c;
      font-size: 30px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 70px;
      position: relative;
      &::after {
        background-color: #e2574c;
        bottom: -30px;
        content: "";
        height: 3px;
        position: absolute;
        left: calc(50% - 50px);
        width: 100px;
      }
    }
    &_txt {
      margin: 0 auto 50px;
      text-align: center;
    }
    &_button {
      padding: 15px 40px;
    }
  }
  &__team {
    padding-bottom: 60px;
    padding-top: 60px;
    & > .container {
      position: relative;
    }

    &_title {
      color: #3c3c3c;
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 70px;
      margin-left: auto;
      position: relative;
      b {
        font-weight: 800;
      }
      &::after {
        background-color: #e2574c;
        bottom: -30px;
        content: "";
        height: 3px;
        position: absolute;
        left: 15px;
        width: 100px;
      }
    }
    &_container {
      position: relative;
    }
    &_controls {
      display: flex;
      justify-content: space-between;
      padding: 0 15px;
    }
    &_control {
      color: #cacaca;
      cursor: pointer;
      font-size: 40px;
      transition: 0.3s;
      z-index: 10;
      &:hover {
        color: #3c3c3c;
      }
      &_left {
        margin-right: 20px;
      }
    }
    &_wrapper {
      overflow: hidden;
    }
    &_content {
      display: flex;
      flex-wrap: nowrap;

    }
    &_item {
      height: 100%;
      min-width: 100%;
      overflow: hidden;
    }
    &_img {
      width: 100%;
    }
    &_right {
      display: flex;
      flex-direction: column;
    }
    &_name {
      font-family: 'Playfair Display', serif;
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    &_txt {
      flex: 1;
      overflow: auto;
    }
  }
}
@media screen and (min-width: 768px) {
  .home {
    &__article {
      padding-bottom: 120px;
      padding-top: 120px;
      &__title {
        margin-bottom: 0;
      }
    }
    &__proprietes {
      &_txt {
        width: 50%;
      }
    }
    &__team {
      padding-bottom: 60px;
      padding-top: 60px;
      &_title_box {
        position: absolute;
        width: 100%;
      }
      &_controls {
        left: -20px;
        padding: 0;
        position: absolute;
        top: 50%;
        width: calc(100% + 40px);
      }
      &_name {
        margin-top: 100px;
      }
    }
  }
}
@media screen and (min-width: 940px) {
  .home {
    &__team {
      &_title_box {
        top: 200px;
      }
      &_container {
        height: 500px;
      }
      &_name {
        margin-top: 300px;
      }
    }
  }
}

// FEATURES PAGE D'ACCUEIL
.features {
  background-color: #fafafa;
  color: #3c3c3c;
  padding-bottom: 85px;
  padding-top: 100px;
  &__block {
    text-align: center;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
  }
  &__txt {
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    line-height: 1.7em;
    margin-bottom: 0;
  }
}

// PARTENAIRES PAGE D'ACCUEIL
.partners {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  padding-top: 50px;
  &__title {
    flex: 100%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-top: 0;
    white-space: nowrap;
  }
  &__logo {
    width: 50%;
    img {
      max-width: 100%;
    }
  }
}
@media screen and (min-width: 768px) {
  .partners {
    padding-bottom: 100px;
    padding-top: 100px;
    &__logo {
      width: auto;
      margin-right: 50px;
    }
  }
}
@media screen and (min-width: 940px) {
  .partners {
    flex-wrap: nowrap;
    &__title {
      flex: 1;
      margin-bottom: 0;
    }
  }
}

// FOOTER
.footer {
  background: #303030;
  padding-bottom: 80px;
  padding-top: 80px;
  &__logo {
    align-items: center;
    color: #acacac;
    display: flex;
    font-size: 24px;
    height: 45px;
    justify-content: center;
    letter-spacing: 0px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    transition: 0.3s;
    width: 170px;
    &::after {
      border-right: 1px inset #acacac;
      border-top: 1px inset #acacac;
      content: "";
      display: block;
      height: 10px;
      position: absolute;
      right: 0px;
      top: 0px;
      width: 10px;
    }
    &::before {
      border-left: 1px inset #acacac;
      border-top: 1px inset #acacac;
      content: "";
      display: block;
      height: 10px;
      left: 0px;
      position: absolute;
      top: 0px;
      width: 10px;
    }
    span {
      &::after {
        border-right: 1px inset #acacac;
        border-bottom: 1px inset #acacac;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        position: absolute;
        right: 0px;
        width: 10px;
      }
      &::before {
        border-left: 1px inset #acacac;
        border-bottom: 1px inset #acacac;
        bottom: 0;
        content: "";
        display: block;
        height: 10px;
        left: 0px;
        position: absolute;
        width: 10px;
      }
    }
    &:hover {
      color: #fff;
      letter-spacing: 2px;
    }
  }
  &__menu {
    margin-left: auto;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        color: #fff;
        font-family: 'Playfair Display', serif;
        font-size: 12px;
        transition: background-color 0.3s;
        &:hover {
          color: #f2f2f2;
        }
      }
    }
  }
  &__menu_rs {
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      a {
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        color: #3c3c3c;
        display: flex;
        font-size: 0;
        height: 32px;
        justify-content: center;
        margin-right: 10px;
        transition: 0.3s;
        width: 32px;
        &::before {
          display: inline-block;
          font-family: "Font Awesome 5 Brands";
          font-size: 18px;
          font-style: normal;
          font-variant: normal;
          font-weight: 400;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
        }
        &:hover {
          background-color: #cacaca;
        }
      }
      .facebook a::before {
        content: '\f39e';
      }
      .instagram a::before {
        content: "\f16d";
      }
      .pinterest a::before {
        content: '\f231';
      }
    }
  }
  &__title {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
  }
  &__contact {
    color: #fff;
    margin-left: auto;
    &_txt {
      font-family: 'Playfair Display', serif;
      font-size: 12px;
    }
    &_address {
      margin-bottom: 10px;
    }
    &_mail {
      margin-top: 10px;
      a {
        color: #e2574c;
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

// LISTE DES PROPRIETES
.properties {
  padding-bottom: 100px;
  padding-top: 100px;
  &__title {
    color: #3c3c3c;
    font-weight: 800;
    margin-bottom: 50px;
    text-align: center;
  }
  &__card {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    height: 430px;
    margin-bottom: 20px;
    overflow: hidden;
  }
  &__img {
    height: 245px;
    overflow: hidden;
    position: relative;
    &--empty {
      background-color: #f5f5f5;
      &::before {
        align-items: center;
        color: #fff;
        content: "\f015";
        display: flex;
        font-family: "Font Awesome 5 Free";
        font-size: 100px;
        font-weight: 900;
        height: 100%;
        justify-content: center;
        position: absolute;
        text-align: center;
        width: 100%;
      }
    }
    img {
      width: 100%;
    }
  }
  &__desc {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 245px);
  }
  &__link {
    font-size: 18px;
    font-weight: 600;
    margin-top: auto;
    text-align: center;
    a {
      color: #3c3c3c;
    }
  }
  &__city {
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    a {
      color: #cacaca;
    }
  }
  &__price {
    color: #e2574c;
    font-weight: 600;
  }
  &__details {
    align-items: center;
    border-top: 1px solid #e6e6e6;
    display: flex;
    font-size: 12px;
    height: 45px;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    div {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
@media screen and (min-width: 768px) {
  .properties {
    &__img {
      img {
        max-height: 100%;
        width: auto;
      }
    }
  }
}

// SYSTEME DE FILTRE
.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 65px;
  &__link {
    color: #3c3c3c;
    cursor: pointer;
    font-weight: 600;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    &--active {
      border-bottom: 2px solid #e2574c;
    }
  }
}

// DETAILS PROPRIETE
.property {
  padding-bottom: 100px;
  padding-top: 100px;
  &__title {
    color: #3c3c3c;
    font-size: 2.3rem;
    font-weight: 600;
    margin-bottom: 50px;
  }
  &__subtitle {
    border-top: 1px solid #f3f2f2;
    color: #3c3c3c;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 40px;
    padding-top: 40px;
    b {
      font-weight: 800;
    }
  }
  &__img {
    margin-bottom: 10px;
    img {
      border-radius: 3px;
      max-width: 100%;
    }
    &--empty {
      align-items: center;
      background-color: #e6e6e6;
      border-radius: 3px;
      display: flex;
      height: 100%;
      justify-content: center;
      width: 100%;
      &::before {
        color: #fff;
        content: "\f015";
        font-family: "Font Awesome 5 Free";
        font-size: 100px;
        font-weight: 900;
      }
    }
    &--mini {
      height: 160px;
      overflow: hidden;
    }
  }
  &__price {
    color: #b01414;
    font-size: 25px;
    font-weight: 500;
    &--icon {
      color: #e6e6e6;
      margin-right: 10px;
    }
  }
  &__info {
    border-bottom: 1px solid #f3f2f2;
    border-top: 1px solid #f3f2f2;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    line-height: 1.7em;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 15px 0;
    li {
      display: flex;
    }
  }
  &__label {
    color: #797979;
    font-weight: bold;
    margin: 0;
    max-width: 40%;
    min-width: 40%;
  }
  &__txt {
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    line-height: 1.7em;
    margin-bottom: 0;
  }
  &__features {
    margin: 20px 0;
    &_title {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 30px;
      margin-top: 15px;
      position: relative;
      text-transform: uppercase;
      &::after {
        background-color: #d0d0d0;
        bottom: -10px;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        width: 30px;
      }
    }
    &_icon {
      color: #d0d0d0;
      font-size: 35px;
      margin-bottom: 5px;
    }
  }
  &__gallery {
    margin-top: 20px;
  }
  &__mini {
    &_title {
      color: #3c3c3c;
      font-size: 18px;
      margin: 20px 0 0;
    }
    &_link {
      color: #797979;
      font-family: 'Playfair Display', serif;
      font-size: 13px;
    }
  }
}
@media screen and (min-width: 940px) {
  .property {
    &__img {
      margin-bottom: 0;
    }
  }
}

// DETAILS ACTUALITE
.actualite {
  padding-bottom: 80px;
  padding-top: 60px;
  &__title {
    font-weight: 500;
  }
  &__thumbnail {
    border-radius: 3px;
    height: auto;
    max-width: 100%;
  }
  &__content {
    img {
      border-radius: 3px;
      height: auto;
      max-width: 100%;
    }
  }
  &__footer {
    border-bottom: 1px solid #f0f4f5;
    border-top: 1px solid #f0f4f5;
    color: #797979;
    font-size: 12px;
    font-weight: bold;
    padding: 25px 0;
    text-transform: uppercase;
    &_sep {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  &__cat {
    margin: 10px 0;
  }
  &__badge {
    background-color: #cacaca;
    color: #fff;
    transition: 0.3s;
    &:hover {
      background-color: #3c3c3c;
      color: #fff;
    }
  }
}

// LISTE DES ACTUALITES
.actualites {
  padding-bottom: 100px;
  padding-top: 100px;
  &__title {
    font-weight: 800;
    margin-bottom: 120px;
    text-align: center;
  }
  &__item {
    &__title {
      margin-bottom: 40px;
      a {
        color: #3c3c3c;
      }
    }
    p {
      color: #797979;
      font-family: 'Playfair Display', serif;
      font-size: 13px;
      line-height: 1.7em;
    }
    &:last-child {
      .actualites__sep {
        display: none;
      }
    }
  }
  &__img {
    border-radius: 5px;
    margin-bottom: 30px;
    max-width: 100%;
  }
  &__more {
    background-color: #e2574c;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
      background-color: #cc4a40;
      color: #fff;
    }
  }
  &__sep {
    border: 0;
    border-top: 1px solid #f0f4f5;
    margin: 50px 0;
  }
}

// SIDEBAR
.sidebar {
  padding-top: 40px;
  &__widget {
    margin-bottom: 40px;
  }
  &__title {
    color: #3c3c3c;
    font-size: 15px;
    font-weight: 600;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .cat-item {
    a {
      color: #797979;
      font-size: 12px;
      font-weight: 600;
    }
  }
}
.rpwe-li {
  display: flex;
  flex-direction: column;
  .rpwe-title {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    a {
      color: #3c3c3c;
    }
  }
  .rpwe-time {
    font-size: 12px;
    font-weight: bold;
    order: 1;
  }
  .rpwe-summary,
  .rpwe-time {
    color: #797979;
    font-family: 'Playfair Display', serif;
  }
}

// LES COMMENTAIRES
.comment-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .children {
    list-style-type: none;
    position: relative;
    &::before {
      color: #f6f6f6;
      content: "\f3e5";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      left: 0;
      position: absolute;
      top: 0;
      transform: rotate(180deg);
    }
  }
}
.comment-body {
  background-color: #f6f6f6;
  display: flex;
  margin-bottom: 40px;
  padding: 30px;
}
.comment-author {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 100px;
  .avatar {
    border-radius: 5px;
    height: 100px;
    margin-bottom: 10px;
    width: 100px;
  }
  .fn {
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
  }
}
.comment-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    line-height: 1.7em;
  }
}

.comment-footer {
  display: flex;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  .comment-meta {
    a {
      color: #242424;
    }
  }
  .comment-sep {
    color: #797979;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.comment-reply-title {
  color: #797979;
  font-size: 14px;
  font-weight: 800;
}
.comment-respond {
  .submit {
    background-color: #e2574c;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 15px;
    text-transform: uppercase;
    transition: 0.3s;
    &:hover {
    background-color: #cc4a40;
  }
  }
}
.comment-textarea {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 15px;
  width: 100%;
}

// PAGE A PROPOS
.about {
  padding-bottom: 120px;
  padding-top: 60px;
  &__title {
    margin-bottom: 40px
  }
  &__article {
    margin-bottom: 100px;
    p {
      color: #797979;
      font-family: 'Playfair Display', serif;
      font-size: 13px;
      line-height: 1.7em;
      margin-bottom: 0;
    }
  }
  &__img {
    max-width: 100%;
  }
  &__team {
    padding-top: 100px;
    &_title {
      margin-bottom: 60px;
    }
  }
}

.team {
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  &__img {
    height: 290px;
    overflow: hidden;
    &--empty {
      align-items: center;
      background-color: #f3f2f2;
      display: flex;
      justify-content: center;
      position: relative;
      &::before {
        color: #fff;
        content: "\f508";
        font-family: "Font Awesome 5 Free";
        font-size: 100px;
        font-weight: 900;
        position: absolute;
      }
    }
    img {
      width: 100%;
    }
  }
  &__name {
    color: #1f1f1f;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
  }
  &__role {
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
    margin-bottom: 20px;
    text-align: center;
  }
}

// PAGE CONTACT
.contact {
  padding-bottom: 100px;
  padding-top: 100px;
  &__title {
    color: #3c3c3c;
    font-weight: 800;
    margin-bottom: 30px;
  }
  &__subtitle {
    color: #242424;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  &__map{
    height:400px;
    margin-bottom: 60px;
  }
  &__left {
    color: #797979;
    font-family: 'Playfair Display', serif;
    font-size: 13px;
  }
  &__infos {
    line-height: 1.7em;
    margin-bottom: 30px;
  }
  &__address {
    font-weight: bold;
  }
  &__phone {
    margin-top: 30px;
  }
  &__mail {
    a {
      color: #e2574c;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  &__form {
    font-size: 14px;
    &_item {
      input,
      textarea {
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        margin-bottom: 20px;
        padding: 10px;
        width: 100%;
      }
      textarea {
        width: 100%;
      }
    }
    &_label {
      width: 100%;
      br {
        display: none;
      }
    }
    input[type=submit] {
      background-color: #e2574c;
      border: 0;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
      font-family: 'Raleway', sans-serif;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 15px;
      text-transform: uppercase;
      transition: 0.3s;
      &:hover {
        background-color: #cc4a40;
      }
    }
  }

}

#load-more {
  width: 100%;
}